.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation: reveal linear both;
	animation-timeline: view();
	animation-range: entry 10% cover 20%;
	text-align: center;
	padding: 8px;
	border-radius: 12px;
	box-shadow: 0 10px 20px #00000030;
	font-size: 16px;

	&:hover .card__img {
		transform: scale(1.15);
		rotate: -15deg;
	}
}

.card__img {
	width: 200px;
	aspect-ratio: 1/1;
	transition:
		transform 0.5s,
		rotate 0.3s;
	filter: drop-shadow(0 4px 4px #1b1b1f50);
}

.card__body {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.card__title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	font-weight: 400;
	font-size: inherit;
}

.card__prices {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.card__prices,
.card__discount {
	font-weight: 600;
}

.card__discount {
	color: #06a306;
}

.price-prev {
	color: #8d8d8d80;
	text-decoration: line-through;
}
