.header {
	width: 100%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: transparent;
	backdrop-filter: blur(20px);
	z-index: 100;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 100%;
	color: var(--text__color);
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__nav a {
	color: var(--text__color);
	font-size: 16px;
	text-decoration: none;
}

.header__nav .header__mode,
.header__cart {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.header__mode > button,
.header__cart > button {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: inherit;
}

.header__mode::before,
.header__cart::before {
	content: '';
	margin-right: 8px;
	margin-left: 8px;
	width: 1px;
	height: 24px;
	background-color: #2e2e32;
}
